.speech {
  background-color: #bed0da;
  padding: 2em;
  font-size: 14pt;
  font-family: 'JosefinSlab', Italic;
  text-align: center;
  line-height: 3em
}

.narration {
  background-color: #4889af;
  padding: 1em;
  font-size: 18pt;
  font-family: 'JosefinSlab', regular;
}

.narration:first-letter {
    color: #ffb119;
    font-size: 30pt;
}

.heading {
  font-family: 'JosefinSlab', Bold;
}

.colorText {
  color: rgb(28, 47, 75);
}

Link {
  color: #B8860B;
  font-family: 'JosefinSlab' italic;
  font-size: 16pt;
  text-align: center;
}

Link:hover {
  font-size: 2em;
  color: #BDB76B;
  background-color: #008B8B;
  letter-spacing: .5em;
  text-align: center;
}

@font-face {
    font-family: 'Josefin_Slab';
    src:
        url('../fonts/JosefinSlab-Bold.ttf') format('Bold'),
        url('../fonts/JosefinSlab-Regular.ttf') format('Regular'),
        url('../fonts/JosefinSlab-Italic.ttf') format('Italic');
}
