body {
font-family: 'Open Sans', sans-serif;
background-color: rgb(195, 255, 237);
}

.menu-container {
background-color: rgb(242, 160, 1);
margin: 0;
padding: 0;
text-align: center;
}

.menu-item {
display: inline-block;
padding: 0.5em 1em;
padding-right: 2.5em;
text-align: center;
text-decoration: none;
color: rgb(172, 255, 188);}

.menu-item:hover, .dropdown:hover {
color: rgb(212, 51, 0);
background-color: rgb(197, 254, 231);}

.dropdown {
display: inline-block;
margin: auto;}

.dropdown-content {
display: none;
position: absolute;
border: 3px solid rgb(0, 0, 0);
margin: 0;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
z-index: 1;}

.dropdown-content a {
color: rgb(0, 0, 0);
text-decoration: none;}

.dropdown:hover .dropdown-content {
display: block;}

.dropdown-item {
display: block;
text-align: left;
margin: 0;
padding: 0.5em;
min-width: 7em;}

.dropdown-item:hover, .dropdown-item:hover a {
color: rgb(213, 0, 247);
background-color: rgb(185, 251, 251);}
